
.contact-me{
    //background-color: #c2bbbb;
    background:linear-gradient(to bottom,#dbd3d3,#c2bbbb);

    textarea {
        resize: none !important;
    }
    label {
        font-size: 1.5rem;
    }
    .fields {
        font-size: 1.5rem;
    }
    .send-button{
        font-size: 1.5rem;
    }
    .letter-container{
        display: flex;
        justify-content: center;
        padding-left: 6rem;

        .img-letter{
            width: 65%;
            justify-self: center;
        }
    }

    
}